<astroscript>
  import { useState } from 'react';

  export function CodeBoxWithCopyButton({ code }) {
    const [isCopied, setIsCopied] = useState(false);

    function copyToClipboard() {
      navigator.clipboard.writeText(code)
        .then(() => {
          setIsCopied(true);
        })
        .catch(() => {
          setIsCopied(false);
        });
    }

    return (
      <div>
        <pre>
          <code>{code}</code>
        </pre>
        <button onClick={copyToClipboard}>
          {isCopied ? 'Tersalin!' : 'Salin'}
        </button>
      </div>
    );
  }
</astroscript>
